<h1>Вітаю! Ви зайшли на мою веб-сторінку.<h1>
    <h2>Мене звуть Артем Рибак Іванович</h2>
    <b>Зараз я вам коротко розповім кілька фактів про себе .</b>
    <h2>Моя біографія :</h2>
    <h3>Дата народження: 26.09.2003</h3>
    <h3>Місце проживання: с.Отинія</h3>
    <h3>Полюбляю спорт. Улюблений вид спорту - футбол</h3>
    <h2>Улюблені фільми: </h2>
    <li>Кухня</li>
    <li>Серія фільмів Марвел</li>
    <li>Гранд
    <h3>Мої улюблені предмети:</h3>
    <ul>
    <li>Укр.мова</li>
    <li>Інформатика</li>
    <li>Історія</li>
    </ul>
    <h3>Мої улюблені страви</h3>
    <ol>
    <li>Борщ</li>
    </ul>
    <li>Вареники</li>
    </ul>
    <li>Піцца</li>
    <h1>Дякую за увагу!</h1>